body,html {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
}
.canvas {
    color:blue;
    border: 1px solid black;
    border-radius: 10px;
    width: 90%; 
   
}

.move {
    background-color: aliceblue;
    cursor: move;
    position: absolute;
    height: 2cm;
    width:2cm;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.button{
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    border-radius: 10px;
    width: 160px;
}
.sidebar{
    height: 100%; 
    width: 180px;
    position: sticky;
    z-index: 1; 
    top: 0;
    left: 0;
    background-color:bisque; 
    overflow-x: hidden; 
    padding-top: 20px;
    overflow-y: hidden;
}
img{
   max-width: 100%;
   max-height: 100%;
}

.menu{
    max-height: 100%;
    overflow-y: scroll;
}