.canvas {
    color:blue;
    border: 1px solid black;
    border-radius: 10px;
    height: 15cm;
    width: 80%; 
    margin: 0 auto;
}

.move {
    cursor: move;
    position: absolute;
    height: 2cm;
    width:2cm;
    display: flex;
  justify-content: center;
  align-items: center;
}
.button{
    background-color: rgb(67, 67, 240);
    color:white;
    border-radius: 10px;
}